<div class="col-md-12">
    <h1 class="titolo">Into the Job</h1>
</div>


<div class= "loginContainer col-md-12" >
   <div class = "col-md-12">
       <img src="" width="" height="">
    </div> 
    <div class = "col-md-12">
        <h2>Login</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username"> 
            <label for="password">Password</label> 
            <input type="password" name="password" id="password" placeholder="Password">
        </div> 
        <div class="col-md-6">
            <button>Entra!</button>
        </div>
    </div> 
    
    <br>
    <input type="checkbox">Remember me!
    <a href="">Password dimenticata?</a>
    <hr>
    <h4>Non hai un account?</h4>
    <button routerLink="/register">Registrati!</button>
</div>

<div></div>

<div class="sub_div">
    <h3 class = "slogan">O troveremo una strada o ne costruiremo una</h3>
</div>

