<div class="row">
    <h1 class="titolo">Into the Job</h1>
    <p class="slogan">O troveremo una strada o ne costruiremo una</p>
</div>



<section>
    <div>
        <img src="assets/IntoTheJobLogo.png">
    </div>
    <div>
        <form>
            <div>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button>Entra!</button>

            <div>
                <input type="checkbox" name="rememberMe" id="rememberMe" class="rememberMe">
                <label for="rememberMe">Remember me!</label>
            </div>
            <div>
                <a href="">Password dimenticata?</a>
            </div>

            <h4>Non hai un account?</h4>
            <button routerLink="/register">Registrati!</button>
        </form>
    </div>
</section>