<div>
    <h1>Into the Job</h1>
    <h3>O troveremo una strada o ne costruiremo una</h3>
</div>


<div>
    <img src="" width="" height="">
    <h2>Login</h2>
    <label for="Username">Username</label>
    <input type="text" name="Username" id="Username" placeholder="Username"> 
    <label for="Password">Password</label> 
    <input type="password" name="Password" id="Password" placeholder="Password">

    <button>Entra!</button>
    <br>
    <input type="checkbox">Remember me!
    <a href="">Password dimenticata?</a>
    <hr>
    <h4>Non hai un account?</h4>
    <button>Registrati!</button>
</div>


